$color-main: #8261EE;
$color-highlight: #FF589E;
$color-text-gray: #777;
$color-text-light-gray: #7A7A7A;
$color-text-black: #1e1e1e;
$color-background-violet: #f2f2fe;

$font-text: "Raleway", sans-serif;